*
{
    margin:0;
    padding:0;
}

body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav"
                         "aside main"
                         "footer footer";
}

p{
    color: white;
    font-size: 3em;
    transform: translate(20%, 400%);
}