body{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav"
                         "main main main"
                         "footer footer footer";
}
main ul li{
    list-style: none;
    float: left;
    justify-content: left;
    grid-area: main;
}
.powerpoint{
    grid-area: main;
    max-width: 40%;
    max-height: 40%;
    float: left;
}