body{
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto;
    grid-template-areas: "nav nav nav"
                         "main main main"
                         "footer footer footer";
}

img{
    grid-area: main;
}