*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

body{
    font-family: 'Teko', sans-serif;
    width: 100%;
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}


nav{
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    text-transform: capitalize;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-area: nav;
    text-align: center;
    font-size: larger;
    width: 100%;
    text-decoration: none;
}

.logo{
    text-transform: capitalize;
    padding: 10px 25px;
}

.logo a:hover, a:visited, a:active, a:after{
    text-decoration: none;
    text-transform: none;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

a:link, :visited, :active{
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover{
    color:skyblue;
    transition: .4s;
}

footer{
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    color: white;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    text-align: center;
    grid-area: footer;
}
